[mysqld]


# NETWORK

bind_address = 0.0.0.0
port = 3306


# CONNECTIONS

max_connections = 100
max_connect_errors = 10
skip_name_resolve = 1
connect_timeout = 10
wait_timeout = 600
interactive_timeout = 600


# CHARACTER SET

character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci


# TIMEZONE

default_time_zone = '+01:00'


# AUDYT - SERVER AUDIT PLUGIN (dla SIEM)

plugin_load_add = server_audit
server_audit_logging = ON
server_audit_events = CONNECT,QUERY_DDL,QUERY_DML,QUERY_DCL

# 4. Format i lokalizacja
server_audit_output_type = FILE
server_audit_file_path = /var/log/mysql/audit.log

# 5. Rotacja
server_audit_file_rotate_size = 100M
server_audit_file_rotations = 30

# 6. Inne ustawienia
server_audit_query_log_limit = 10240
server_audit_excl_users = healthcheck


# ERROR LOG

log_error = /var/log/mysql/error.log
log_warnings = 2


# SLOW QUERY LOG

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
log_slow_admin_statements = ON
log_queries_not_using_indexes = OFF
log_slow_verbosity = query_plan


# BINARY LOG

log_bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW
binlog_row_image = FULL
binlog_annotate_row_events = ON
expire_logs_days = 14
max_binlog_size = 100M
sync_binlog = 1


# PERFORMANCE SCHEMA

performance_schema = ON
performance_schema_events_statements_history_size = 100
performance_schema_events_statements_history_long_size = 10000
performance_schema_consumer_events_statements_current = ON
performance_schema_consumer_events_statements_history = ON
performance_schema_consumer_events_statements_history_long = ON
performance_schema_consumer_statements_digest = ON


# BEZPIECZEŃSTWO

local_infile = 0
innodb_lock_wait_timeout = 50


# PERFORMANCE

innodb_buffer_pool_size = 512M
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default_character_set = utf8mb4
